include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_articles/migrations *
recursive-include ripiu/cmsplugin_articles/templates *
recursive-include ripiu/cmsplugin_articles/static *
recursive-include ripiu/cmsplugin_articles/locale *