{% load cms_tags staticfiles i18n %}
<article class="ripiu">
  {% if instance.featured_image or instance.title or instance.subtitle %}
    {% include "./header.html" with alignment=instance.header_alignment image=featured_image title=instance.title heading_level=instance.heading_level subtitle=instance.subtitle %}
  {% endif %}
  {% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
  {% endfor %}
  {% if instance.full_article %}
    <footer>
      <a href="instance.full_article.url">
        {% trans "Read more" %} &#x219D;
      </a>
    </footer>
  {% endif %}
</article>
