{% load cms_tags %}
<header{% if alignment %} class="{{ alignment }}"{% endif %}>
  {% if image.image %}
    {% include "cmsplugin_filer_image/plugins/image/default.html" with instance=image opts=image.thumbnail_option size=image.thumbnail_option.size %}
  {% endif %}
  {% if content %}
    {% render_plugin content %}
  {% endif %}
  {% if title %}
    <h{{ heading_level }}>{{ title }}</h{{ heading_level }}>
  {% endif %}
  {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
  {% endif %}
</header>
