{% load cms_tags articles_filters %}
<section class="ripiu">
  {% with parts=instance.child_plugin_instances|split_parts %}
    {% if instance.featured_image or instance.title or instance.subtitle %}
      {% include "./header.html" with content=parts.head alignment=instance.header_alignment image=featured_image title=instance.title heading_level=instance.heading_level subtitle=instance.subtitle %}
    {% endif %}
    {% render_plugin parts.main %}
    {% for child in parts.leftover %}
      {% render_plugin child %}
    {% endfor %}
  {% endwith %}
</section>
