{% load cms_tags articles_filters %}

{% block all %}
  <{{ tagname }}{% if instance.attributes %} {{ instance.attributes_str }}{% endif %}>
    {% with parts=instance.child_plugin_instances|split_parts %}
      {% if instance.title or instance.subtitle or parts.head.child_plugin_instances %}
        {% include "./header.html" with content=parts.head alignment=instance.header_alignment title=instance.title heading_level=instance.heading_level subtitle=instance.subtitle %}
      {% endif %}
      {% if parts.main %}{% render_plugin parts.main %}{% endif %}
      {% for child in parts.leftover %}
        {% render_plugin child %}
      {% endfor %}
      {% block after_content %}{% endblock after_content %}
    {% endwith %}
  </{{ tagname }}>
{% endblock all %}
